body {
    background-color: #146653;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

main {
    width: 90%;
    margin: auto;
}

header {
    width: 100%;
}

.cabecera {
    height: 10rem;
    width: 100%;
    display: flex;
    margin: auto;
    border: 3px solid white;
}

.img-cabecera {
    max-height: 100%;
}

.texto-cabecera {
    width: 100%;
    color: #146653;
    text-align: center;
    background-color: #F3C892;
}

.texto-cabecera h1 {
    padding-top: 1rem;
}

.subtitulo {
    font-size: 1.4rem;
    font-style: italic;
}

.contenido {
    display: flex;
    margin-top: 1rem;
}

.left-citas {
    width: 20%;
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem;
}

blockquote {
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    text-align: center;
    padding-top: 0.5rem;
}

cite {
    display: block;
    text-align: center;
}

.principal {
    width: 60%;
    background-color: #F3C892;
    text-align: justify;
}

nav {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    background-color: #A3DA8E;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    width: 50%;
    text-align: center;
    border: 1px solid #146653;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

nav ul li a {
    font-size: 1.5rem;
}

section {
    padding: 1.5rem;
    padding-bottom: 0;
}

.fluida {
    display: flex;
}

.img-intro {
    width: 100%;
    height: 100%;
}

.img-intro img {
    width: 100%;
    height: 100%;
}

.texto-intro p {
    margin-top: 0;
    padding-left: 1rem;
}

.subtitulo {
    color: #146653;
}

.texto-utilidad p {
    margin-top: 0;
    padding-right: 1rem;
}

.img-utilidad {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
}

.img-utilidad img {
    width: 100%;
    height: 100%;
}

.right-multimedia {
    width: 20%;
}

video, .img-aside{
    max-width: 90%;
    margin-left: auto;
    display: block;
    border: 2px solid white;
}

.img-aside {
    margin-top: 5rem;
}

footer {
    color: white;
    text-align: center;
}

footer hr {
    border-color: white;
}